:root{
    --BGColor: #181425;
    --BGDarkColor: #0c0812;
    --BGDarkerColor: #060208;
    --felpsPink: #ff0044;
    --felpsDarkerPink: #b80037;
    --usedLink: #b00075;
    --textColor: white;
}
@font-face {
    font-family: "ComicSans";
    src: url("fonts/ComicSansMS3.ttf");
}
body{
    background-color: var(--BGColor);
    font-family: "ComicSans", cursive, monospace;
    color: var(--textColor);
    margin: 0px;
    min-width: min-content;
}
header{
    margin: auto;
    width: fit-content;
}
main{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
h1{
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
}
p{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px;
    text-align: justify;
}
footer{
    background-color: var(--BGDarkColor);
    width: auto;
    height: fit-content;
    padding: 20px;
}
footer p{
    text-align: center;
    margin: 0px;
}
p a{
    color: var(--felpsPink);
    text-decoration: underline;
}
p a:hover{
    cursor: pointer;
    color: var(--felpsDarkerPink)
}
p a:visited{
    color: var(--usedLink)
}
.navBar{
    background-color: var(--BGDarkColor);
    position: sticky;
    top: 0;
    min-width: max-content;
}
.navBar ul{
    list-style-type: none;
    background-color: var(--BGDarkColor);
    padding: 0px;
    overflow: hidden;
    width: fit-content;
    margin: auto;
}
.navBar li{
    float: left;
}
.navBar a{
    text-decoration: none;
    color: var(--textColor);
    padding: 15px;
    display: block;
    text-align: center;
}
.navBar #active{
    border: 1px solid var(--felpsPink);
}
.navBar a:hover{
    background-color: var(--BGDarkerColor);
}